body{
    font-family: font-family: 'Italiana', serif;
    font-family: 'Poppins', sans-serif;
}
div {
    background-color: #900;
}

a{
    text-decoration: none;
}

img{
    background: no repeat;
}